body.light {
  background-color: #f8fafc; 
  color: #1a1a1a; 
}

body.dark {
  background-color: #0a192f; 
  color: #f8f8f8;
}


.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  margin: 20px;
  margin-right: 5px;
  /* padding-right: 6px; */
}