body.light {
  background-color: #f2fcf5; 
  color: #1a1a1a; 
}

body.dark {
  background-color: #0d1f1a; 
  color: #f8f8f8;
}


.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  margin: 20px;
  margin-right: 5px;
}